@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav,
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  background: rgb(144, 226, 174);
  background: linear-gradient(
    90deg,
    rgba(144, 226, 174, 1) 0%,
    rgba(71, 149, 130, 1) 22%,
    rgba(79, 167, 141, 1) 55%,
    rgba(98, 209, 167, 1) 85%,
    rgba(144, 226, 174, 1) 100%
  );
}

footer {
  height: 120px;
}

/*

NAV ELEMENTS

*/

.nav__container {
  width: 100%;
  max-width: 1250px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__text--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__text {
  font-size: 32px;
}

.link__repair {
  text-decoration: none;
  color: black;
}

.nav__menu {
  display: flex;
}

.nav__menu--element {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

li:last-of-type {
  margin-right: 0px;
}

.nav__menu--add {
  margin-right: 60px;
}

.btn {
  cursor: pointer;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 300ms ease;
  font-size: 12px;
}

.user__btn {
  cursor: default;
}

.btn:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.icon {
  margin-right: 8px;
}

.btn:hover .plusicon {
  animation: spinning 2.5s linear infinite;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}

/*

FOOTER 

*/

.footer__container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*

HOME

*/

.container {
  padding: 36px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 24px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #90e2ae, rgba(0, 0, 0, 0)) 1 100%;
  display: flex;
  flex-wrap: wrap;
}

.row__title {
  width: 100%;
  font-weight: 900;
  font-size: 32px;
}

.question {
  width: 48%;
  background: rgba(79, 167, 141, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 12px 6px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  transition: all 300ms ease;
  text-decoration: none;
  color: black;
}

.question:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
}

.label__area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labels {
  display: flex;
}

.question__user {
  margin-right: 12px;
  font-size: 14px;
}

.label {
  margin-right: 12px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  background: #70cfb3;
}

.label:hover {
  cursor: pointer;
  border-radius: 20px;
  background: #4fa78d;
  box-shadow: inset 6px 6px 11px #295749, inset -6px -6px 11px #75f7d1;
}

.question__title {
  font-size: 20px;
  margin: 18px 0;
}

.counter {
  background-color: #4fa78d;
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 20px;
}

/*

NEW QUESTION 

*/

.form {
  width: 100%;
  background: rgba(79, 167, 141, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.form__title {
  font-weight: 900;
  font-size: 32px;
  padding-top: 18px;
  text-align: center;
}

.form__label {
  text-align: center;
  margin: 12px 0;
}

.form__area {
  padding: 6px 18px;
  display: flex;
  flex-direction: column;
}

.form__input,
.form__textarea {
  border-radius: 20px;
  border-color: black;
  padding: 12px;
  font-size: 16px;
}

.add__label--area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.add__label {
  margin: 0 8px;
  border-radius: 20px;
  border-color: black;
  padding: 6px 12px;
  width: 25%;
}

.form__button {
  margin: 12px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 26px;
}

/*

REGISTER / LOGIN

*/

.register__row {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 12px 24px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #90e2ae, rgba(0, 0, 0, 0)) 1 100%;
  display: flex;
  flex-wrap: wrap;
}

.register__label {
  margin: 12px 0;
}

.register__input {
  border-radius: 20px;
  border-color: black;
  padding: 8px 12px;
}

.register__button {
  margin-top: 24px;
}

.switcher {
  text-align: center;
}

/*

QUESTION INFO

*/

.question__description {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.label__area--info {
  padding: 12px;
}

.form__answers {
  margin-top: 24px;
  padding: 12px;
}

.form__question {
  margin-top: 24px;
  font-size: 32px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.answer__title {
  text-align: center;
  margin: 12px 0;
}

#answer {
  border-radius: 20px;
  padding: 12px;
}

.btn__answer {
  margin: 12px 0;
}

.answer__upperarea {
  padding-bottom: 12px;
  border-bottom: 2px solid black;
}

.answer__text {
  padding: 12px 0 12px 12px;
  border-bottom: 2px solid black;
}

.answer__lowerarea {
  padding-top: 12px;
  display: flex;
}

.like {
  margin-right: 6px;
}

.like__this {
  cursor: pointer;
}

.dislike__this {
  cursor: pointer;
  margin-left: 6px;
}

.dislike {
  margin-left: 24px;
}
